include LICENSE.txt README.rst
include requirements*.txt

recursive-include crowddynamics *
recursive-include docs *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude docs/_build *

include versioneer.py
include crowddynamics/_version.py
