include MANIFEST.in
include AUTHORS LICENSE CONTRIBUTING README.*
include requirements.txt requirements-dev.txt
include setup.py versioneer.py

recursive-include crowddynamics *
recursive-include docs *

prune docs/build

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
include crowddynamics/_version.py
