## Should not be installed through pip
## Recommended to use Conda package manager instead

loggingtools==0.0.2

## Package
typing==3.6.1
ruamel.yaml==0.14.4
sortedcontainers==1.5.7

## Command-line interface
click
colorama
colorlog

## Core
numpy
numba
scipy
scikit-image
shapely
pandas
scikit-fmm

## IO
h5py

## Gui and Vizualisation
pyqt  # pyqt4
pyqtgraph
matplotlib
bokeh
