## Tools for developing
setuptools==34.3.3
versioneer==0.18


## Documentation
sphinx==1.5.3
sphinx-rtd-theme==0.2.4
sphinxcontrib-programoutput==0.10
ghp-import==0.5.5
graphviz==0.6


## Testing
pytest==3.0.7
pytest-cov
pytest-xdist
coverage
hypothesis
pytest-benchmark


## Profiling
line_profiler
memory_profiler
objgraph
