## Tools for developing
setuptools==34.3.3
versioneer==0.18


## Documentation
sphinx
sphinx_rtd_theme
sphinxcontrib-programoutput
ghp-import
graphviz


## Testing
pytest
pytest-cov
pytest-xdist
coverage
hypothesis
pytest-benchmark


## Profiling
line_profiler
memory_profiler
objgraph
