## Should not be installed through pip
## Recommended to use Conda package manager instead

git+https://github.com/jaantollander/loggingtools.git

## Package
# mypy
typing
ruamel.yaml
sortedcontainers

## Command-line interface
click
colorama
colorlog

## Core
numpy
numba
scipy
scikit-image
shapely
pandas
scikit-fmm

## IO
h5py

## Gui and Vizualisation
pyqt  # pyqt4
pyqtgraph
matplotlib
bokeh
