## Should not be installed through pip
## Recommended to use Conda package manager instead

loggingtools==0.0.4
git+https://github.com/jaantollander/cell_lists.git

## Package
configobj==5.0.6
typing==3.6.1
ruamel.yaml==0.14.12
sortedcontainers==1.5.7
anytree==2.1.4
traitlets==4.3.2
traittypes==0.0.6
diskcache==2.4.1


## Command-line interface
click==6.7
colorama==0.3.9
colorlog==2.10.0

## Core
numpy==1.12.1
numba==0.33.0
scipy==0.19.0
scikit-image==0.13.0
shapely==1.5.17.post1
scikit-fmm==0.0.9

## Vizualisation
matplotlib==2.0.2
bokeh==0.12.5
