## Should not be installed through pip
## Recommended to use Conda package manager instead

## Package
typing
ruamel.yaml

## Command-line interface
click
colorama

## Core
numpy
numba
scipy
scikit-image
shapely
pandas
scikit-fmm

## IO
h5py

## Gui and Vizualisation
pyqt  # pyqt4
pyqtgraph
matplotlib
bokeh
